# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
libs
.gradle

# other
eclipse
run
server

# Files from Forge MDK
forge_stuff

# scripts
setupEclipse.bat
